.banner {
  height: 100vh;
  padding-top: 175px;
  background: url(./../img/main-bg.jpg) no-repeat center/cover;

  &__container {
    position: relative;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;

    @include desktop_xl {
      padding-top: 25px;
    }
  }

  &__timetable-wrapper {
    max-width: 60px;
    width: 100%;
  }

  &__timetable {
    position: absolute;
    top: 45%;
    left: -150px;
    transform: rotate(-90deg);
    font-family: "OpenSans-Bold";

    // &::before {
    //   position: absolute;
    //   content: "";
    //   width: 700px;
    //   height: 1px;
    //   bottom: 0;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   background-color: $lightGray;
  }

  &__content-wrapper {
    @include flex(center, center, column);
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    padding-bottom: 35px;
  }

  &__sub-title {
    font-family: "OpenSans-Bold";
    line-height: 14px;
    letter-spacing: 0.5em;
    padding-bottom: 25px;
  }

  &__title {
    position: relative;
    font-family: "Banny";
    font-size: 96px;
    padding-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      width: 60px;
      height: 5px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $yellow;
      border-radius: 50px;
    }
  }

  &__button-wrapper {
    @include flex(center, center, row);
    padding-bottom: 80px;
  }

  &__button {
    margin: 0 20px;
  }

  &__scroll-wrapper {
    width: 60px;
    height: 60px;
    @include flex(center, center, row);
    border-radius: 50%;
    border: 1px solid $white;
    cursor: pointer;

    &:hover {
      transform: translateY(2px);
      transition: 0.2s;
      opacity: 0.5;
    }
  }

  &__scroll {
    position: relative;
    width: 40px;
    height: 40px;
    @include flex(center, center, row);
    background-color: $white;
    border-radius: 50%;
  }

  &__social {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $white;
    margin-bottom: 20px;

    a {
      width: 100%;
      height: 100%;
      @include flex(center, center, row);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $yellow;
      border: none;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

.button {
  width: 200px;
  height: 60px;
  @include flex(center, center, row);
  border-radius: 5px;
  background-color: $yellow;
  text-align: center;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  cursor: pointer;

  &_transparent {
    position: relative;
    background-color: transparent;
    border: 1px solid $white;
  }
}
