.events {
  background: url(./../img/specialties-bg.jpg);

  &__caption {
    color: $whiteText;
  }

  &__picture-wrapper {
    @include flex(center, space-between, row);
  }

  &__timetable {
    text-align: center;
    color: $whiteText;
    padding-bottom: 35px;
  }
}
