.header {
  &__nav-header-wrapper {
    @include flex(space-between, center, row);
  }

  &__header-nav-left,
  &__header-nav-right {
    position: relative;
    @include flex(space-between, center, row);

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      max-width: 532px;
      width: 100%;
      height: 1px;
      // background-color: $lightGray;
      background-color: red;
    }
  }
}

.header-nav-left,
.header-nav-right {
  &__header-nav {
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    cursor: pointer;
  }
}

.header-nav {
  width: 133px;
  height: 100px;

  a {
    width: 100%;
    height: 100%;
    @include flex(center, center, row);
    // color: white;

    &:hover {
      color: $yellow;
    }
  }
}

.nav-header-wrapper {
  // position: relative;

  // &__logo-wrapper {
  //   position: absolute;
  //   top: 100px;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
}

.logo-wrapper {
  position: relative;
  width: 150px;
  // height: 150px;

  &__logo {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
