.menu {
  &__container {
    padding: 100px 0 70px 0;
    @include flex(center, center, column);
  }

  &__category-list {
    max-width: 840px;
    width: 100%;
    @include flex(center, center, row);
    padding-bottom: 50px;
  }

  &__category-item {
    width: 15%;
    height: 50px;
    border-right: 1px solid $gray;

    &:last-child {
      border-right: 0px;
    }
  }

  &__category {
    width: 100%;
    height: 100%;
    @include flex(center, center, row);
    color: $black;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $yellow;
      transition: 0.2s;
    }
  }

  &__menu-wrapper {
    max-width: 1270px;
    width: 100%;
    @include flex(center, space-between, row);
  }

  &__menu-item-wrapper {
    margin-right: 85px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__menu-title {
    display: inline;
    font-family: "Banny";
    font-size: 18px;
    text-transform: uppercase;
    color: $black;
  }

  &__menu-subtitle {
    color: $gray;
    padding-bottom: 30px;
  }
}
