.specialties {
  padding: 100px 0;
  background: url(../img/specialties-bg.jpg) no-repeat center/cover;

  &__container {
    @include flex(center, center, row);
  }

  p {
    color: $whiteText;
  }
}

.caption {
  padding-top: 25px;
  font-family: "OpenSans-Bold";
  line-height: 14px;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
